<div class="card">
  <div class="border-b py-2 px-6 flex items-center">
    <h2 class="m-0 title flex-auto">
      Vue d'ensemble
    </h2>
  </div>

  <div class="pt-4 pb-6 px-6 grid grid-cols-1 md:grid-cols-2 gap-12">

    <div class="pb-6 pt-4 px-6 flex flex-col">

      <h2 class="display-2 font-bold m-0">
        {{ total }}
      </h2>

      <h3 class="title font-medium mt-2 mb-0">
        Inscriptions année scolaire {{ currentYearLabel }}
      </h3>

      <div class="mt-6 flex-auto flex flex-col justify-end">
        <button color="primary" mat-flat-button type="button">
          Voir détails
        </button>
      </div>

    </div>

    <vex-chart
      *ngIf="chartSeries.length"
      [options]="options"
      [series]="chartSeries">
    </vex-chart>

  </div>
</div>