<vex-secondary-toolbar current="Tableau de bord">
  <vex-breadcrumbs
    [crumbs]="[ 'Analytique']"
    class="flex-auto">
  </vex-breadcrumbs>
</vex-secondary-toolbar>

<div class="container p-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">

  <!-- GRAND GRAPHIQUE -->
<vex-widget-large-goal-chart
  [series]="salesSeries"
  [labels]="yearLabels"
  [currentYearLabel]="currentYearLabel"
  class="sm:col-span-full"
  [total]="(stats?.inscriptionsAnneeCourante || 0).toString()">
</vex-widget-large-goal-chart>

<!-- <vex-widget-large-chart
  [series]="userSessionsSeries"
  class="sm:col-span-2">
</vex-widget-large-chart> -->

  <!-- ETUDIANTS -->
  <vex-widget-quick-value-center
  [change]="0"
  icon="mat:group"
  iconClass="text-primary-600 bg-primary-600/10"
  label="Étudiants"
  [value]="(stats?.totalEtudiants || 0).toString()">
</vex-widget-quick-value-center>

  <!-- FILIERES -->
  <vex-widget-quick-value-center
    [change]="0"
    icon="mat:school"
    iconClass="text-orange-600 bg-orange-600/10"
    label="Filières"
    [value]="(stats?.totalFilieres || 0).toString()">
  </vex-widget-quick-value-center>

  <!-- CLASSES -->
  <vex-widget-quick-value-center
    [change]="0"
    icon="mat:class"
    iconClass="text-purple-600 bg-purple-600/10"
    label="Classes"
    [value]="(stats?.totalClasses || 0).toString()">
  </vex-widget-quick-value-center>

  <!-- INSCRIPTIONS -->
  <vex-widget-quick-value-center
    [change]="0"
    icon="mat:assignment"
    iconClass="text-teal-600 bg-teal-600/10"
    label="Inscriptions"
    [value]="(stats?.totalInscriptions || 0).toString()">
  </vex-widget-quick-value-center>

  <!-- EVOLUTION -->
  <vex-widget-large-chart
    [series]="userSessionsSeries"
    class="sm:col-span-2">
  </vex-widget-large-chart>

  <!-- TABLE -->
 <vex-widget-table
  [columns]="tableColumns"
  [data]="tableData"
  class="sm:col-span-2">
</vex-widget-table>

</div>