<vex-page-layout>
  <vex-page-layout-header class="pb-16 flex flex-col items-start justify-center">
    <div [class.container]="layoutCtrl.value === 'boxed'" class="w-full flex flex-col sm:flex-row justify-between px-6">
      <div>
        <h1 class="title mt-0 mb-1">Gestion des Classes</h1>
        <vex-breadcrumbs [crumbs]="['Configuration', 'Classes']"></vex-breadcrumbs>
      </div>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'" class="-mt-6">
    <div class="card overflow-auto -mt-16">
      <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">
        <h2 class="title my-0 hidden sm:block flex-none">
          <span *ngIf="selection.isEmpty()">Classes</span>
          <span *ngIf="selection.hasValue()">{{ selection.selected.length }} sélectionnée(s)</span>
        </h2>

        <mat-form-field subscriptSizing="dynamic" class="ml-4">
          <mat-icon matIconPrefix svgIcon="mat:search"></mat-icon>
          <input matInput [formControl]="searchCtrl" placeholder="Rechercher une classe..." type="text" />
        </mat-form-field>

        <span class="flex-1"></span>

        <button (click)="ajouter()" class="ml-4 flex-none" color="primary" mat-mini-fab matTooltip="Ajouter une classe">
          <mat-icon svgIcon="mat:add"></mat-icon>
        </button>
      </div>

      <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>
        <ng-container matColumnDef="checkbox">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" color="primary"></mat-checkbox>
          </th>
          <td *matCellDef="let row" class="w-4" mat-cell>
            <mat-checkbox (change)="$event ? selection.toggle(row) : null" (click)="$event.stopPropagation()" [checked]="selection.isSelected(row)" color="primary"></mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="nom">
          <th *matHeaderCellDef mat-header-cell mat-sort-header class="uppercase"> Nom </th>
          <td *matCellDef="let row" mat-cell class="font-medium"> {{row.nom}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="niveau">
          <th *matHeaderCellDef mat-header-cell mat-sort-header class="uppercase"> Niveau </th>
          <td *matCellDef="let row" mat-cell> 
            <span class="bg-primary-600/10 text-primary-600 px-2 py-1 rounded text-xs font-bold">{{row.niveau}}</span>
          </td>
        </ng-container> -->

     <ng-container matColumnDef="niveau">
  <th *matHeaderCellDef mat-header-cell mat-sort-header class="uppercase"> Niveau </th>
  <td *matCellDef="let row" mat-cell> 
    <span class="bg-primary-600/10 text-primary-600 px-2 py-1 rounded text-xs font-bold">
      {{ row.niveau?.nom }} 
    </span>
  </td>
</ng-container>

        <ng-container matColumnDef="filiere">
          <th *matHeaderCellDef mat-header-cell mat-sort-header class="uppercase"> Filière </th>
          <td *matCellDef="let row" mat-cell> {{row.filiere?.nom}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
            <div class="flex">
                <button (click)="$event.stopPropagation(); modifier(row)" mat-icon-button color="primary"><mat-icon svgIcon="mat:edit"></mat-icon></button>
                <button (click)="$event.stopPropagation(); supprimer(row)" mat-icon-button color="warn"><mat-icon svgIcon="mat:delete"></mat-icon></button>
            </div>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns" @fadeInUp (click)="modifier(row)" class="hover:bg-hover cursor-pointer" mat-row></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" class="sticky left-0"></mat-paginator>
    </div>
  </vex-page-layout-content>
</vex-page-layout>