<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <mat-icon class="mr-4" svgIcon="mat:class" color="primary"></mat-icon>
    <h2 class="headline m-0 flex-auto">{{ mode === 'update' ? 'Modifier' : 'Nouvelle' }} Classe</h2>
    <button mat-dialog-close class="text-secondary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col gap-4 mt-4">
    <mat-form-field class="flex-auto">
      <mat-label>Nom de la classe</mat-label>
      <input formControlName="nom" matInput placeholder="ex: L1 Informatique">
      <mat-icon matIconPrefix svgIcon="mat:edit"></mat-icon>
    </mat-form-field>

    <div class="flex flex-col sm:flex-row gap-4">
    
         

  <mat-form-field class="flex-auto">
    <mat-label>Filière</mat-label>
    <mat-select formControlName="filiereId" [disabled]="filieresFiltrees.length === 0">
      <mat-option *ngFor="let f of filieresFiltrees" [value]="f.id">{{ f.nom }}</mat-option>
    </mat-select>
    <!-- <mat-icon matIconPrefix svgIcon="mat:account_tree"></mat-icon>
    <mat-hint *ngIf="filieresFiltrees.length === 0">Choisissez d'abord un niveau</mat-hint> -->
  </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-divider class="text-border"></mat-divider>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Annuler</button>
    <button color="primary" mat-flat-button type="submit" [disabled]="form.invalid">
      {{ mode === 'update' ? 'Mettre à jour' : 'Enregistrer' }}
    </button>
  </mat-dialog-actions>
</form>