<form [formGroup]="form" (ngSubmit)="save()">
  <h2 mat-dialog-title>
    {{ mode === "update" ? "Modifier" : "Nouveau" }} Paiement
  </h2>

  <mat-dialog-content class="flex flex-col gap-4 py-4">
  
    <!-- <div class="grid grid-cols-2 gap-2"> -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Année Scolaire</mat-label>
        <mat-select [(ngModel)]="filterYear" (selectionChange)="applyFilters()" [ngModelOptions]="{standalone: true}">
          <mat-option value="">Toutes les années</mat-option>
          <mat-option *ngFor="let year of uniqueYears" [value]="year">{{ year }}</mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Sélectionner ÉLÉVE / Étudiant</mat-label>
      <mat-select formControlName="inscription" [compareWith]="compareInscription">
        <mat-option *ngFor="let i of filteredInscriptions" [value]="i">
          <div class="flex flex-col py-1">
            <span class="font-semibold">{{ i.etudiant?.prenom }} {{ i.etudiant?.nom }}</span> 
            <span class="text-xs text-gray-500">{{ i.classe?.nom }} - {{ i.anneeScolaire?.libelle }}</span>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- 🔥 INFOS AUTOMATIQUES INSCRIPTION -->
<div *ngIf="selectedInscription" class="border rounded p-4 bg-gray-50 mt-2">

  <h3 class="font-bold text-sm mb-2 flex items-center gap-2">
    <mat-icon svgIcon="mat:school"></mat-icon>
    Informations de scolarité
  </h3>

  <div class="grid grid-cols-2 gap-2 text-sm">

    <div>
      <span class="text-gray-500">Étudiant</span><br>
      <span class="font-semibold">
        {{ selectedInscription.etudiant?.prenom }}
        {{ selectedInscription.etudiant?.nom }}
      </span>
    </div>

    <div>
      <span class="text-gray-500">Classe</span><br>
      <span class="font-semibold">
        {{ selectedInscription.classe?.nom }}
      </span>
    </div>

    <div>
      <span class="text-gray-500">Filière</span><br>
      <span class="font-semibold">
        {{ selectedInscription.classe?.filiere?.nom }}
      </span>
    </div>

    <div>
      <span class="text-gray-500">Année</span><br>
      <span class="font-semibold">
        {{ selectedInscription.anneeScolaire?.libelle }}
      </span>
    </div>

  </div>

  <hr class="my-3">

  <!-- 💰 FINANCE -->
  <div class="grid grid-cols-2 gap-2 text-sm">

    <div>
      <span class="text-gray-500">Total brut</span><br>
      <span class="font-bold text-blue-600">
        {{ totalBrut | number }} FCFA
      </span>
    </div>

    <div>
      <span class="text-gray-500">Réduction</span><br>
      <span class="font-bold text-red-500">
        {{ selectedInscription.montantReduction || 0 | number }} FCFA
      </span>
    </div>

    <div>
      <span class="text-gray-500">Total net</span><br>
      <span class="font-bold text-green-600">
        {{ totalNet | number }} FCFA
      </span>
    </div>

    <div>
      <span class="text-gray-500">Déjà payé</span><br>
      <span class="font-bold text-purple-600">
        {{ totalPaye | number }} FCFA
      </span>
    </div>

  </div>

  <div class="mt-3 p-3 bg-red-100 rounded text-center">
    <span class="text-gray-600 text-xs">Reste à payer</span><br>
    <span class="text-xl font-black text-red-600">
      {{ reste | number }} FCFA
    </span>
  </div>

</div>

    <mat-form-field class="w-full">
      <mat-label>Mode de paiement</mat-label>
      <mat-select formControlName="mode">
        <mat-option *ngFor="let mode of paymentModes" [value]="mode">
          {{ mode | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Montant</mat-label>
      <input matInput formControlName="montant" type="number" placeholder="Ex: 50000" />
      <span matTextPrefix>FCFA &nbsp;</span>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Annuler</button>
    <button mat-flat-button color="primary" [disabled]="form.invalid">Enregistrer</button>
  </mat-dialog-actions>
</form>