<form [formGroup]="form" (ngSubmit)="save()">
  <h2 mat-dialog-title>
    {{ mode === "update" ? "Modifier" : "Nouveau" }} Paiement
  </h2>

  <mat-dialog-content class="flex flex-col gap-4 py-4">
  
    <!-- <div class="grid grid-cols-2 gap-2"> -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Année Scolaire</mat-label>
        <mat-select [(ngModel)]="filterYear" (selectionChange)="applyFilters()" [ngModelOptions]="{standalone: true}">
          <mat-option value="">Toutes les années</mat-option>
          <mat-option *ngFor="let year of uniqueYears" [value]="year">{{ year }}</mat-option>
        </mat-select>
      </mat-form-field>

   <mat-form-field class="w-full">
  <mat-label>Sélectionner ÉLÈVE / Étudiant</mat-label>

  <mat-select formControlName="inscription" [compareWith]="compareInscription">

    <mat-option *ngFor="let i of filteredInscriptions" [value]="i">
      <div class="flex flex-col py-1">
        <span class="font-semibold">
          {{ i.etudiant?.prenom }} {{ i.etudiant?.nom }}
        </span>
        <span class="text-xs text-gray-500">
          {{ i.classe?.nom }} - {{ i.anneeScolaire?.libelle }}
        </span>
      </div>
    </mat-option>

  </mat-select>
</mat-form-field>

<!-- 🔥 INFOS AUTOMATIQUES -->
<div *ngIf="resume" class="border rounded p-4 bg-gray-50 mt-2">

  <h3 class="font-bold text-sm mb-3 flex items-center gap-2">
    <mat-icon svgIcon="mat:school"></mat-icon>
    Résumé financier
  </h3>

  <div class="grid grid-cols-2 gap-3 text-sm">

    <div>
      <span class="text-gray-500">Total brut</span><br>
      <span class="font-bold text-blue-600">
        {{ resume.totalBrut | number }} FCFA
      </span>
    </div>

    <div>
      <span class="text-gray-500">Réduction</span><br>
      <span class="font-bold text-red-500">
        {{ resume.reduction | number }} FCFA
      </span>
    </div>

    <div>
      <span class="text-gray-500">Total net</span><br>
      <span class="font-bold text-green-600">
        {{ resume.totalNet | number }} FCFA
      </span>
    </div>

    <div>
      <span class="text-gray-500">Déjà payé</span><br>
      <span class="font-bold text-purple-600">
        {{ resume.totalPaye | number }} FCFA
      </span>
    </div>

  </div>

  <!-- RESTE -->
  <div class="mt-4 p-3 rounded text-center"
       [ngClass]="{
         'bg-green-100': resume.statutPaiement === 'COMPLET',
         'bg-yellow-100': resume.statutPaiement === 'PARTIEL',
         'bg-red-100': resume.statutPaiement === 'IMPAYE'
       }">

    <span class="text-xs text-gray-600">Reste à payer</span><br>

    <span class="text-2xl font-black">
      {{ resume.resteAPayer | number }} FCFA
    </span>

    <div class="text-xs mt-1 font-semibold">
      {{ resume.statutPaiement }}
    </div>

  </div>

</div>

    <mat-form-field class="w-full">
      <mat-label>Mode de paiement</mat-label>
      <mat-select formControlName="mode">
        <mat-option *ngFor="let mode of paymentModes" [value]="mode">
          {{ mode | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Montant</mat-label>
      <input matInput formControlName="montant" type="number" placeholder="Ex: 50000" />
      <span matTextPrefix>FCFA &nbsp;</span>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Annuler</button>
    <button mat-flat-button color="primary" [disabled]="form.invalid">Enregistrer</button>
  </mat-dialog-actions>
</form>