<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <mat-icon class="mr-4" svgIcon="mat:attach_money" color="primary"></mat-icon>
    <h2 class="headline m-0 flex-auto">{{ mode === 'update' ? 'Modifier' : 'Nouvelle' }} Dépense</h2>
  </div>

  <mat-dialog-content class="flex flex-col mt-4">
    <mat-form-field class="w-full">
      <mat-label>Libellé</mat-label>
      <input formControlName="libelle" matInput placeholder="Ex: Achat fournitures...">
    </mat-form-field>
    
    <mat-form-field class="w-full">
    <mat-label>Catégorie</mat-label>
    <mat-select formControlName="categorieDepense">
      <mat-option *ngFor="let cat of categories" [value]="cat.id">
        {{ cat.nom }}
      </mat-option>
    </mat-select>
     </mat-form-field>
    <mat-form-field class="w-full">
    <mat-label>Année Scolaire</mat-label>
    <mat-select formControlName="anneeScolaire">
     <mat-option *ngFor="let annee of anneesScolaires" [value]="annee.id">
        {{ annee.libelle }}
      </mat-option>
    </mat-select>
     </mat-form-field>


    <div class="flex gap-4">
      <mat-form-field class="flex-auto">
        <mat-label>Montant</mat-label>
        <input formControlName="montant" type="number" matInput>
      </mat-form-field>
      <mat-form-field class="flex-auto">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateDepense">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <mat-form-field class="w-full">
      <mat-label>Description</mat-label>
      <textarea formControlName="description" matInput></textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Annuler</button>
    <button color="primary" mat-flat-button type="submit" [disabled]="form.invalid">Enregistrer</button>
  </mat-dialog-actions>
</form>