<vex-page-layout>
  <vex-page-layout-header class="pb-16 flex flex-col items-start justify-center">
    <div [class.container]="layoutCtrl.value === 'boxed'"
         [class.px-6]="layoutCtrl.value === 'fullwidth'"
         class="w-full flex flex-col sm:flex-row justify-between">
      <div>
        <h1 class="title mt-0 mb-1">Gestion des Niveaux</h1>
        <vex-breadcrumbs [crumbs]="['Configuration', 'Niveaux']"></vex-breadcrumbs>
      </div>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'" class="-mt-6">
    <div class="card overflow-auto -mt-16">

      <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center gap-4">
        <mat-form-field subscriptSizing="dynamic" class="flex-1 max-w-xs">
          <mat-icon matIconPrefix svgIcon="mat:search"></mat-icon>
          <input matInput [formControl]="searchCtrl" placeholder="Rechercher un niveau..." type="text"/>
        </mat-form-field>

        <span class="flex-1"></span>

        <button (click)="ajouter()" color="primary" mat-flat-button type="button">
          <mat-icon svgIcon="mat:add" class="mr-1"></mat-icon>
          Ajouter
        </button>
      </div>

      <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>

        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>ID</th>
          <td *matCellDef="let row" mat-cell class="text-xs text-slate-400">{{ row.id }}</td>
        </ng-container>

        <ng-container matColumnDef="nom">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Libellé</th>
          <td *matCellDef="let row" mat-cell class="font-semibold text-slate-800">{{ row.nom }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
            <div class="flex">
              <button (click)="$event.stopPropagation(); modifier(row)" mat-icon-button matTooltip="Modifier">
                <mat-icon svgIcon="mat:edit" class="text-indigo-400"></mat-icon>
              </button>
              <button (click)="$event.stopPropagation(); supprimer(row)" mat-icon-button matTooltip="Supprimer">
                <mat-icon svgIcon="mat:delete" class="text-red-400"></mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns"
            @fadeInUp class="hover:bg-hover cursor-pointer" mat-row></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 20, 50]" class="sticky left-0"></mat-paginator>
    </div>
  </vex-page-layout-content>
</vex-page-layout>
