<vex-page-layout>
  <vex-page-layout-header
    class="pb-16 flex flex-col items-start justify-center">
    <div
      [class.container]="layoutCtrl.value === 'boxed'"
      [class.px-6]="layoutCtrl.value === 'fullwidth'"
      class="w-full flex flex-col sm:flex-row justify-between">
      <div>
        <h1 class="title mt-0 mb-1">Emploi du temps</h1>

        <vex-breadcrumbs
          [crumbs]="['Configuration', 'Gestion des emplois du temps']">
        </vex-breadcrumbs>
      </div>

      <div class="hidden sm:block">
        <mat-button-toggle-group
          [formControl]="layoutCtrl"
          class="mt-4 sm:mt-0">
          <mat-button-toggle value="boxed"> Réduire </mat-button-toggle>

          <mat-button-toggle value="fullwidth"> Plein écran </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content
    [class.container]="layoutCtrl.value === 'boxed'"
    class="-mt-6">
    <div class="card overflow-auto -mt-16">
      <div
        class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">
        <h2 class="title my-0 hidden sm:block flex-none">Emploi du temps</h2>

        <mat-form-field subscriptSizing="dynamic" class="ml-4">
          <mat-label>Rechercher...</mat-label>

          <input
            matInput
            (keyup)="appliquerFiltre($event)"
            placeholder="Rechercher..." />

          <mat-icon matIconPrefix svgIcon="mat:search"> </mat-icon>
        </mat-form-field>

        <span class="flex-1"></span>

        <button
          (click)="ajouter()"
          class="ml-4 flex-none"
          color="primary"
          mat-mini-fab
          matTooltip="Ajouter un emploi du temps">
          <mat-icon svgIcon="mat:add"></mat-icon>
        </button>
      </div>

      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        @stagger
        class="w-full">
        <!-- Jour -->
        <ng-container matColumnDef="jour">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Jours</th>

          <td mat-cell *matCellDef="let row">
            <span class="text-sm font-medium text-primary">
              {{ getJoursLabel(row.jours) }}
            </span>
          </td>
        </ng-container>

        <!-- Horaire -->
        <ng-container matColumnDef="horaire">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="uppercase">
            Horaire
          </th>

          <td mat-cell *matCellDef="let row">
            <div class="flex flex-col">
              <span class="font-medium">
                {{ row.heureDebut }}
              </span>

              <span class="text-secondary text-xs">
                {{ row.heureFin }}
              </span>
            </div>
          </td>
        </ng-container>
         <!-- Périodicité -->
        <ng-container matColumnDef="periode">
          <th mat-header-cell *matHeaderCellDef class="uppercase">
            Période
          </th>

          <td mat-cell *matCellDef="let row">
           <div class="flex flex-col">
              <span class="font-medium">
               Du {{ row.dateDebut | date:'dd/MM/yyyy'}}
              </span>

              <span class="text-secondary text-xs">
               au {{ row.dateFin | date:'dd/MM/yyyy'}}
              </span>
            </div>å
          </td>
        </ng-container>


        <!-- Matière -->
        <ng-container matColumnDef="matiere">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="uppercase">
            Matière
          </th>

          <td mat-cell *matCellDef="let row" class="font-medium text-primary">
            {{ row.matiere?.nom }}
          </td>
        </ng-container>

        <!-- Enseignant -->
        <ng-container matColumnDef="enseignant">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="uppercase">
            Enseignant
          </th>

          <td mat-cell *matCellDef="let row" class="font-medium text-primary">
            {{ row.enseignant?.nom }}
            {{ row.enseignant?.prenom }}
          </td>
        </ng-container>

       
        <!-- Statut -->
        <ng-container matColumnDef="statut">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="uppercase">
            Statut
          </th>

          <td mat-cell *matCellDef="let row">
            <span
              [class]="
                row.actif
                  ? 'text-green-600 bg-green-600/10'
                  : 'text-red-600 bg-red-600/10'
              "
              class="rounded px-2 py-1 font-medium text-xs">
              {{ row.actif ? "En cours" : "Terminé" }}
            </span>
          </td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>

          <td mat-cell *matCellDef="let row" class="w-10 text-secondary">
            <div class="flex">
              <button
                mat-icon-button
                color="primary"
                (click)="$event.stopPropagation(); modifier(row)">
                <mat-icon svgIcon="mat:edit"></mat-icon>
              </button>

              <button
                mat-icon-button
                color="warn"
                (click)="$event.stopPropagation(); supprimer(row)">
                <mat-icon svgIcon="mat:delete"></mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          @fadeInUp
          class="hover:bg-hover cursor-pointer"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" class="sticky left-0">
      </mat-paginator>
    </div>
  </vex-page-layout-content>
</vex-page-layout>
