@import "~simplebar/dist/simplebar.css";
@import "~highlight.js/styles/androidstudio.css";
// Vex Core
@import "./@vex/styles/core";

/*
  You can override any CSS Variable or style here
  Example:

  :root {
   --vex-sidenav-background: #333333;
  }

  All possible variables can be found in @vex/styles/core or by simply inspecting the element you want to change
  in Chrome/Firefox DevTools
*/

/**
  Uncomment the below code and adjust the values to fit your colors, the application will automatically adjust
 */
html {
  // --vex-color-primary: blue;
  // --vex-color-primary-contrast: white;

  // --vex-color-accent: yellow;
  // --vex-color-accent-contrast: black;

  // --vex-color-warn: yellow;
  // --vex-color-warn-contrast: black;
}


/* Dans src/styles.scss */
.swal2-container {
  z-index: 999999 !important; /* Pour passer au-dessus des popovers Vex */
}

.swal2-styled {
  /* On force la visibilité car Vex peut mettre l'opacité à 0 par défaut */
  opacity: 1 !important;
  visibility: visible !important;
  display: inline-block !important;
}

/* On s'assure que le bouton de confirmation a bien sa couleur */
.swal2-confirm {
  background-color: #3085d6 !important;
  color: white !important;
}

/* Idem pour le bouton annuler */
.swal2-cancel {
  background-color: #d33 !important;
  color: white !important;
}
/* Dans src/styles.scss */

/* Force la visibilité des boutons SweetAlert */
.swal2-styled {
  opacity: 1 !important;
  visibility: visible !important;
  display: inline-block !important;
  box-shadow: none !important;
}

/* On s'assure que le bouton annuler (Annuler) est bien rouge et visible */
.swal2-cancel {
  background-color: #d33 !important;
  color: white !important;
  opacity: 1 !important;
}

/* On s'assure que le bouton de confirmation (Oui) est bien bleu et visible */
.swal2-confirm {
  background-color: #3085d6 !important;
  color: white !important;
  opacity: 1 !important;
}

@media print {

  body * {
    visibility: hidden;
  }

  #recu-print, #recu-print * {
    visibility: visible;
  }

  #recu-print {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  mat-dialog-actions,
  button {
    display: none !important;
  }
}